<div class="{{ uploaderOptions.form[1:] }} {{ uploaderOptions.clickable[1:] }}   needsclick {% if uploaderOptions.countFiles >= uploaderOptions.maxFiles %}hidden{% endif %}">
    {{ 'dropzone.drag_or_click_files'|trans }}
</div>