{% block glavweb_upload_item_tpl %}

    {# TEMPLATE #}
    <div id="template">

        {% block glavweb_upload_item_preview %}
            <div class="dz-preview dz-preview-new  dz-processing dz-image-preview dz-success" data-id data-src>

                {% block glavweb_upload_item_preview_top %}{% endblock %}

                {# DZ-PREVIEW:WRAPPER #}
                <div class="dz-preview__wrapper">

                    {% block glavweb_upload_item_details %}
                        {# DZ-PREVIEW:DZ-DETAILS #}
                        <div class="dz-details">

                            {% block glavweb_upload_item_details_img %}
                                {# DZ-PREVIEW:DZ-DETAILS:IMG #}
                                <div class="dz-details__img">

                                    <div class="glavweb">
                                        <div class="glavweb-outer">
                                            <div class="glavweb-inner">
                                                <img class="glavweb-img" data-dz-thumbnail>
                                            </div>
                                        </div>
                                    </div>


                                    {% block glavweb_upload_item_details_remove %}
                                        {# DZ-PREVIEW:DZ-DETAILS:REMOVE #}
                                        <div class="dz-button _remove">
                                            <button class="dz-remove btn btn-default" type="button" data-dz-remove>
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                        {# //DZ-PREVIEW:DZ-DETAILS:REMOVE #}
                                    {% endblock %}

                                </div>
                                {# //DZ-PREVIEW:DZ-DETAILS:IMG #}
                            {% endblock %}

                            {% block glavweb_upload_item_filename %}
                                {#  DZ-PREVIEW:DZ-FILENAME #}

                                {% if showLabel %}

                                    <div class="dz-filename-wr">
                                        <div class="dz-filename">
                                            <span data-dz-name></span>
                                        </div>
                                        <div class="dz-description" style="display: none;"><span></span></div>

                                        {% block glavweb_upload_item_button %}
                                            <div class="dz-button _rename">
                                                <button class="dz-rename btn " type="button">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </div>
                                        {% endblock %}
                                    </div>

                                {% endif %}

                                {#  //DZ-PREVIEW:DZ-FILENAME #}
                            {% endblock %}

                        </div>
                        {# //DZ-PREVIEW:DZ-DETAILS #}
                    {% endblock %}

                    {% block glavweb_upload_item_progress %}
                        {# DZ-PREVIEW:DZ-PROGRESS #}
                        <div class="dz-progress">
                            <span class="dz-upload" data-dz-uploadprogress style="width: 100%;"></span>
                        </div>
                        {# //DZ-PREVIEW:DZ-PROGRESS #}
                    {% endblock %}

                    {% if showMark %}
                        {% block glavweb_upload_item_marks %}
                            {# DZ-PREVIEW:DZ-MARKS #}
                            <div class="dz-marks">
                                <div class="dz-success-mark">
                                    <span>?</span>
                                </div>
                                <div class="dz-error-mark">
                                    <span>?</span>
                                </div>
                            </div>
                            {# //DZ-PREVIEW:DZ-MARKS #}
                        {% endblock %}
                    {% endif %}

                    {% block glavweb_upload_item_error_message %}
                        {# DZ-PREVIEW:DZ-ERROR-MESSAGE #}
                        <div class="dz-error-message">
                            <span data-dz-errormessage></span>
                        </div>
                        {# //DZ-PREVIEW:DZ-ERROR-MESSAGE #}
                    {% endblock %}


                </div>
                {# //DZ-PREVIEW:WRAPPER #}

            </div>
        {% endblock %}

    </div>

{% endblock %}
