{# MODAL:REMOVE-FILE #}
<div class="modal fade article-modal article-modal--remove" id="modalRemoveFile" tabindex="-1" role="dialog"
     aria-labelledby="modalRemoveFileLabel"
     aria-hidden="true">

    {# MODAL:DIALOG #}
    <div class="modal-dialog">

        {# MODAL:CONTENT #}
        <div class="modal-content">

            {# MODAL:HEADER #}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalRemoveFileLabel">{{ 'dropzone.modal_file_delete_confirmation_title'|trans }}</h4>
            </div>
            {# //MODAL:HEADER #}

            {# MODAL:BODY #}
            <div class="modal-body">
                {{ 'dropzone.modal_file_delete_confirmation_boby'|trans }}
            </div>
            {# MODAL:BODY #}

            {# MODAL:FOOTER #}
            <div class="modal-footer">
                <button type="button" class="btn btn-success do-remove-file" data-file-id="0">{{ 'dropzone.delete'|trans }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'dropzone.cancel'|trans }}</button>
            </div>
            {# MODAL:FOOTER #}

        </div>
        {# //MODAL:CONTENT #}

    </div>
    {# //MODAL:DIALOG #}

</div>
{# //MODAL:REMOVE-FILE #}