<div class="modal fade article-modal article-modal--remove" id="modalErrorFile" tabindex="-1" role="dialog"
     aria-labelledby="modalErrorFileLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalRemoveFileLabel">{% trans %}dropzone.modal_title_error_size{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}dropzone.modal_error_size{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}dropzone.modal_close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>