<div class="modal fade article-modal article-modal--remove" id="modalErrorFormat" tabindex="-1" role="dialog"
     aria-labelledby="modalErrorFileLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalRemoveFileLabel">{{ 'dropzone.modal_title_error_format'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'dropzone.modal_error_format'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'dropzone.modal_close'|trans }}</button>
            </div>
        </div>
    </div>
</div>