{# GLAVWEB:UPLOADER-DROPZONE--LINK #}
<div  id="actions" class="uploader-dropzone--link">

    {# GLAVWEB:UPLOADER-DROPZONE:GROUP #}
    <div class="uploader-dropzone__group">

        <div class="input-group">
            <input type="text" class="form-control uploadlink uploader-dropzone__input" placeholder="Вставьте ссылку" name="uploadlink"/>
            <span class="btn btn-default input-group-addon uploadlink-button" data-loading-text="Загрузка...">Закачать</span>
        </div>

    </div>
    {# //GLAVWEB:UPLOADER-DROPZONE:GROUP #}

</div>
{# GLAVWEB:UPLOADER-DROPZONE--LINK #}