<div class="uploader-link" id="uploader-link">
    <div class="uploader-link__label">
        <div class="uploader-link-label">
            URL изображения
        </div>
    </div>
    <div class="uploader-link__control">
        <div class="input-group">
            <input type="text" class="js-uploader-link-control form-control uploader-link-control" placeholder="Вставьте ссылку" name="uploadlink"/>
            <span class="btn btn-default input-group-addon js-uploadlink-button"
                  data-loading-text="Загрузка...">
                Закачать
            </span>
        </div>
    </div>
</div>