<div class="dz-clickable dz-message  clearfix js-file-upload {% if countFiles >= maxFiles %} js-file-upload-hide {% endif %}" id="file-upload">
    {{ 'dropzone.drag_or_click_files'|trans }}
</div>
<div class="js-reached-limit-message {% if countFiles < maxFiles %}js-file-upload-hide{% endif %}">
    {{ 'dropzone.reached_maximum_uploaded_files'|trans }}
</div>